[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #151414;
    --md-default-bg-color: #16161a;

    --md-typeset-color: #b7b7b7;
    --md-typeset-a-color: #eaeaea;

    --md-typeset-kbd-color: rgb(192, 12, 12);
    --md-typeset-kbd-accent-color: rgb(31, 186, 44);
    --md-typeset-kbd-border-color: rgb(234, 14, 238);

    --md-typeset-mark-color: rgb(255, 0, 0);

    --md-accent-fg-color: #d0d0d0;
    --md-accent-fg-color--transparent: rgba(151, 151, 151, 0.29);
    --md-accent-bg-color: var(--md-typeset-a-color);

    --md-code-fg-color: rgb(178, 178, 178);
    --md-code-bg-color: rgb(28, 28, 31);
}

.md-typeset__table {
    min-width: 100%;
 }
 
 .md-typeset table:not([class]) {
     display: table;
     border-radius: 6px;
     box-shadow: rgba(20, 20, 21, 0.157) 5px 5px 21px -2px;
 }

 .md-typeset table:first-child th {
    background-color: #151517;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-weight: bold;
    font-size: larger;
  }

  .md-typeset code {
    border-radius: 6px;
  }